<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHfT53fv3RoTEW3suLLovHHRZW1rYzVj4</string>
	<key>GCM_SENDER_ID</key>
	<string>629344242908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseauthexample</string>
	<key>PROJECT_ID</key>
	<string>testoffirebaseauth</string>
	<key>STORAGE_BUCKET</key>
	<string>testoffirebaseauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629344242908:ios:3bccef55bd689126453819</string>
</dict>
</plist>